{% block all %}
: ignored lines

ASA Version 9.1(5)12 <context>

hostname test-config
domain-name example.org

{%  block names %}
names
name 127.1.0.1 localhorst
name 127.1.0.2 localbernd description localbernd
name 192.168.5.1 betternet
name fe80::2aa:bbcc:ddee:ff04 v6name
!
{%  endblock %}

{% block interfaces %}
interface Ethernet0
 description this interface is like eth0
 nameif outside
 security-level 0
 ip address 10.1.1.1 255.255.255.240 standby 10.1.1.2
!

{% block interface_with_trailing_ws %}
interface IfWithTrailingWS
 ip address 1.1.1.1 255.255.255.128 standby 2.2.2.2 {{ '' }}
!
{% endblock %}

{% block nat_interfaces %}
interface inside
!

interface outside
!

interface dmz
!

{% endblock %}

{% endblock %}

{% block time_ranges %}
time-range time_range_test0
 absolute start 23:59 15 April 2010
!

time-range time_range_test1
 absolute start 23:59 15 April 2010 end 23:59 16 April 2010
!


time-range time_range_test2
 periodic daily 12:00 to 13:00
 periodic Monday 13:00 to Tuesday 14:00
 no periodic
 no absolute
!

time-range anytime
 absolute end 23:59 15 April 2010
!

time-range emptyrange
!
{% endblock %}


{% block object_service %}
object service TCPSourceService
 service tcp source range 1 100
 description low ports

object service TCPBothService
 service tcp source eq 100 destination eq 100

object service ICMPEchoService0
 service icmp echo

object service ICMPEchoService1
 service icmp 8 21

object service ICMPEchoService2
 service icmp echo-reply

object service ICMPEchoService3
 service icmp

object service ICMPObjectWithTypeAndCode
 service icmp echo 0

!object-group service ServiceProtocolByCode
! service 41

!object-group service ServiceProtocolByName
! service eigrp
{% endblock %}

{% block object_service_int %}
object service ServiceByInt
 service 6
{% endblock %}

{% block object_group_icmp_type %}
object-group icmp-type ICMPGroup
 description icmp group
 icmp-object unreachable
 icmp-object 30

object-group icmp-type NestMe0-IG
 icmp-object unreachable

object-group icmp-type NestMe1-IG
 icmp-object 20

object-group icmp-type Nested0-IG
 group-object NestMe0-IG
 group-object NestMe1-IG

{% endblock -%}


{% block object_group_expand %}
object-group service p0123 tcp
 port-object eq 0
 port-object eq 1
 port-object eq 2
 port-object eq 3

object-group service p4567 tcp
 port-object eq 4
 port-object eq 5
 port-object eq 6
 port-object eq 7

object-group service p89
 service-object tcp source lt 8
 service-object tcp destination gt  9

object-group service p01
 service-object tcp source eq 0
 service-object tcp source eq 1

object-group service p23
 service-object tcp destination eq 2
 service-object tcp destination eq 3

object-group service p01p23
 service-object tcp source eq 0 destination eq 1
 service-object tcp source eq 1 destination eq 2

object-group service p32 tcp
{%- for i in range(1,15) %}
 port-object eq {{ i }}
{%- endfor %}
 port-object range 1 15
 port-object eq 16
{% endblock %}

{% block object_group_names %}
object-group service AllKnownNames2
{%- for serv in services|sort(attribute='name') -%}
{%- if serv.protocol == 'ICMP' %}
 service-object icmp {{ serv.name }}
{%- elif serv.protocol in ('UDP','TCP') %}
 service-object {{ serv.protocol|lower }} source eq {{ serv.name }}
{%- endif -%}
{%- endfor %}

{% endblock %}




{% block object_group_service %}
object-group service ServiceGroupWithProtocol tcp
 description www & https
 port-object eq www
 port-object eq https


object-group service NestMe0-SG udp
 port-object eq domain

object-group service NestMe1-SG udp
 port-object eq bootps
 port-object range 1024 2048


object-group service Nested0-SG udp
 group-object NestMe0-SG
 group-object NestMe1-SG


object-group service Nested1-SG udp
 group-object Nested0-SG

object-group service ServiceGroupForNesting
 service-object udp destination eq 53

object-group service ServiceGroupWithOutProtocol
 description PR 9.3 service group
 service-object tcp destination eq www
 service-object object TCPSourceService
 service-object object TCPBothService
 service-object object ICMPEchoService0
 service-object object ICMPEchoService1
 service-object object ICMPEchoService2
 service-object object ICMPEchoService3
 service-object icmp echo 12
 group-object ServiceGroupForNesting

object-group service ServiceGroupWithWhitespace
 service-object tcp destination eq 9876
 service-object udp destination eq 9876

object-group service ICMPServiceGroupWithOutCode
 service-object icmp echo
 service-object icmp 8

object-group service ICMPServiceGroupWithCode
 service-object icmp echo 12
 service-object icmp 8 12

object-group service ICMP_Any
 description ICMP Any Type Any Code
 service-object icmp alternate-address
 service-object icmp conversion-error
 service-object icmp echo
 service-object icmp echo-reply
 service-object icmp information-reply
 service-object icmp information-request
 service-object icmp mask-reply
 service-object icmp mask-request
 service-object icmp mobile-redirect
 service-object icmp parameter-problem
 service-object icmp redirect
 service-object icmp router-advertisement
 service-object icmp router-solicitation
 service-object icmp source-quench
 service-object icmp time-exceeded
 service-object icmp timestamp-reply
 service-object icmp timestamp-request
 service-object icmp traceroute
 service-object icmp unreachable
 service-object icmp6 echo
 service-object icmp6 echo-reply
 service-object icmp6 membership-query
 service-object icmp6 membership-reduction
 service-object icmp6 membership-report
 service-object icmp6 neighbor-advertisement
 service-object icmp6 neighbor-redirect
 service-object icmp6 neighbor-solicitation
 service-object icmp6 packet-too-big
 service-object icmp6 parameter-problem
 service-object icmp6 router-advertisement
 service-object icmp6 router-renumbering
 service-object icmp6 router-solicitation
 service-object icmp6 time-exceeded
 service-object icmp6 unreachable
 service-object icmp

object-group service ObjectGroupWithIPServiceByName
 service-object ip
 service-object icmp
 service-object tcp destination eq www
 service-object tcp destination eq https
 service-object tcp destination eq ssh
{% endblock %}

{% block object_group_service_int %}
object-group service ObjectGroupWithIPServiceByInteger
 service-object 17
{% endblock %}

{% block object_network %}
object network NetworkObjectRange
 range 10.0.0.1 10.0.0.4
 description Network Range Object

object network Network6RangeObject
 range ::1 ::2

object network NetworkObjectFQDN
 fqdn example.com

object network NetworkObjectFQDNv4
 fqdn v4 example.com

object network NetworkObjectFQDNv6
 fqdn v6 example.com

object network NetworkObjectHost
 host 127.4.0.1

object network NetworkObjectSubnet
 subnet 127.0.1.0 255.255.255.0

object network Network6SubnetObject
 subnet ::/127

:object network NetworkObjectName
:  host localbernd

object network NetworkObjectEmpty


object network v6NetworkObject
 host fe80::2aa:bbcc:ddee:ff03

object network theNATObject
 host 1.1.1.1

{% endblock %}

{% block object_group_network %}
object-group network NetworkGroupHost
 network-object host 127.0.0.1

object-group network NetworkGroupNet
 network-object 127.0.0.1 255.255.255.0

object-group network NetworkGroupAlias
 network-object localbernd 255.255.255.0

object-group network NetworkGroupWithRecursion
 group-object NetworkGroupHost
 group-object NetworkGroupNet

object-group network NestMe0-NG
 network-object host localbernd

object-group network NestMe1-NG
 network-object host localhorst

object-group network NestMe2-NG
 network-object host 127.1.0.0

object-group network Nested0-NG
 description nested
 group-object NestMe2-NG
 group-object NestMe0-NG
 group-object NestMe1-NG

object-group network NetworkObjectsGroup0
 network-object host 127.0.0.1

object-group network NetworkObjectsGroup
 network-object object NetworkObjectHost
 network-object object NetworkObjectSubnet
 network-object object NetworkObjectRange
 network-object object NetworkObjectFQDN
 network-object object NetworkObjectFQDNv4
 network-object object NetworkObjectFQDNv6
 group-object NetworkObjectsGroup0


object-group network v6NetworkGroup
 network-object host fe80::2aa:bbcc:ddee:ff04
 network-object object v6NetworkObject


object-group network NetworkGroupWithAllTypes
 description egal
 network-object host 127.1.0.0
 network-object object NetworkObjectFQDN
 network-object 127.0.0.0 255.255.255.0
 network-object localbernd 255.255.255.0
 network-object fe80::2aa:bbcc:ddee:ff03/124
 network-object v6name/124

{% endblock %}

{% block object_protocol %}
object-group protocol NestMe0-PG
 protocol-object tcp

object-group protocol NestMe1-PG
 protocol-object udp
 protocol-object icmp

object-group protocol Nested0-PG
 description nested protocol group
 group-object NestMe0-PG
 group-object NestMe1-PG
{% endblock %}


access-list v6 extended permit tcp fe80::2aa:bbcc:ddee:ff01/64 fe80::2aa:bbcc:ddee:ff02/64
access-list v6 extended permit udp object-group v6NetworkGroup object v6NetworkObject
access-list v6 extended permit icmp any6 any6 echo

access-list outside_access_in extended permit udp 10.0.0.1 255.255.255.248 any4 range 32000 39999

access-list outside_access_in extended permit udp 10.0.0.1 255.255.255.248 any4 range 32000 39999

access-list outside_access_in remark permit tcp host 127.0.0.1 host 127.0.0.2
access-list outside_access_in extended permit tcp host 127.0.0.1 host 127.0.0.2

access-list outside_access_in remark permit tcp 127.0.0.1 255.255.255.0 127.0.0.2 255.255.255.0
access-list outside_access_in extended permit tcp 127.0.0.1 255.255.255.0 127.0.0.2 255.255.255.0

access-list outside_access_in remark permit tcp 127.0.0.1 255.255.255.0 eq 80 127.0.0.2 255.255.255.0
access-list outside_access_in extended permit tcp 127.0.0.1 255.255.255.0 eq 80 127.0.0.2 255.255.255.0

access-list outside_access_in remark permit tcp 127.0.0.1 255.255.255.0 eq 80 127.0.0.2 255.255.255.0 eq 81
access-list outside_access_in extended permit tcp 127.0.0.1 255.255.255.0 eq 80 127.0.0.2 255.255.255.0 eq 81

access-list outside_access_in remark permit tcp object-group NetworkGroupHost 127.0.0.1 255.255.255.0
access-list outside_access_in extended permit tcp object-group NetworkGroupHost 127.0.0.1 255.255.255.0

access-list outside_access_in remark permit tcp object-group NetworkGroupHost object-group NetworkGroupHost
access-list outside_access_in extended permit tcp object-group NetworkGroupHost object-group NetworkGroupHost

access-list outside_access_in remark permit tcp object-group NetworkGroupHost object-group Nested1-SG object-group NetworkGroupHost
access-list outside_access_in extended permit tcp object-group NetworkGroupHost object-group Nested1-SG object-group NetworkGroupHost

access-list outside_access_in remark permit tcp object-group NetworkGroupHost object-group NetworkGroupHost object-group Nested1-SG
access-list outside_access_in extended permit tcp object-group NetworkGroupHost object-group NetworkGroupHost object-group Nested1-SG


access-list outside_access_in remark permit tcp object-group NetworkGroupHost eq 80 object-group NetworkGroupWithRecursion
access-list outside_access_in extended permit tcp object-group NetworkGroupHost eq 80 object-group NetworkGroupWithRecursion

access-list outside_access_in remark permit tcp object-group NetworkGroupHost object-group NetworkGroupWithRecursion eq 80
access-list outside_access_in extended permit tcp object-group NetworkGroupHost object-group NetworkGroupWithRecursion eq 80

access-list outside_access_in remark permit tcp object-group NetworkGroupHost eq 80 object-group NetworkGroupWithRecursion eq 81
access-list outside_access_in extended permit tcp object-group NetworkGroupHost eq 80 object-group NetworkGroupWithRecursion eq 81

access-list outside_access_in remark permit icmp host 127.0.0.1 host 127.0.0.1 object-group ICMPGroup
access-list outside_access_in extended permit icmp host 127.0.0.1 host 127.0.0.1 object-group ICMPGroup


access-list outside_access_in remark permit tcp host 127.0.0.1 range 80 90 host 127.0.0.1
access-list outside_access_in extended permit tcp host 127.0.0.1 range 80 90 host 127.0.0.1

access-list outside_access_in remark permit object-group ServiceGroupWithOutProtocol any4 any
access-list outside_access_in extended permit object-group ServiceGroupWithOutProtocol any4 any

access-list outside_access_in remark permit tcp any4 any4 log default
access-list outside_access_in extended permit tcp any4 any4 log default

access-list outside_access_in remark permit tcp any4 any4 log time-range anytime
access-list outside_access_in extended permit tcp any4 any4 log time-range anytime

access-list outside_access_in remark permit tcp any4 any4 inactive
access-list outside_access_in extended permit tcp any4 any4 inactive

access-list outside_access_in remark permit icmp any4 any4 echo
access-list outside_access_in extended permit icmp any4 any4 echo

access-list outside_access_in extended permit icmp host 192.168.0.0 host 192.168.0.0 echo

access-list inside_access_out remark deny ip any4 any
access-list inside_access_out extended deny ip any4 any

access-list inside_access_out remark deny tcp any4 any
access-list inside_access_out extended deny tcp any4 any

access-list inside_access_out remark permit tcp localhorst 255.255.255.255 any
access-list inside_access_out extended permit tcp localhorst 255.255.255.255 any

access-list inside_access_out remark permit tcp host localbernd any
access-list inside_access_out extended permit tcp host localbernd any

access-list inside_access_out extended permit object-group Nested0-PG host localbernd any

access-list inside_access_out extended permit tcp host localbernd any4 eq https
access-list inside_access_out extended permit tcp host localbernd any4 range ftp https

access-list outside_access_in remark multi
access-list outside_access_in remark line
access-list outside_access_in remark remark
access-list outside_access_in extended permit tcp any4 any


access-list outside_access_in remark permit object-group ServiceGroupWithOutProtocol any4 any
access-list outside_access_in extended permit object-group ServiceGroupWithOutProtocol any4 any

access-list outside_access_in remark permit object ICMPEchoService0 any4 any
access-list outside_access_in extended permit object ICMPEchoService0 any4 any

access-list outside_access_in remark permit tcp object-group NetworkObjectsGroup any
access-list outside_access_in extended permit tcp object-group NetworkObjectsGroup any

access-list outside_access_in remark permit udp any4 any4 eq 53
access-list outside_access_in extended permit udp any4 any4 eq 53

access-list outside_access_in remark permit tcp object NetworkObjectHost any
access-list outside_access_in extended permit tcp object NetworkObjectHost any

access-list outside_access_in remark permit object-group Nested0-PG host 127.0.0.2 host 127.0.0.2 time-range anytime
access-list outside_access_in extended permit object-group Nested0-PG host 127.0.0.2 host 127.0.0.2 time-range anytime

access-list outside_access_in remark permit icmp host 127.0.0.2 host 127.0.0.2 object-group ICMPGroup
access-list outside_access_in extended permit icmp host 127.0.0.2 host 127.0.0.2 object-group ICMPGroup

access-list outside_access_in remark permit udp host 127.0.0.2 host 127.0.0.2 object-group Nested0-SG
access-list outside_access_in extended permit udp host 127.0.0.2 host 127.0.0.2 object-group Nested0-SG

access-list outside_access_in remark permit object-group ServiceGroupWithOutProtocol host 127.0.0.2 host 127.0.0.2
access-list outside_access_in extended permit object-group ServiceGroupWithOutProtocol host 127.0.0.2 host 127.0.0.2

access-list outside_access_in remark permit udp host localbernd host 127.0.0.2 eq 51
access-list outside_access_in extended permit udp host localbernd host 127.0.0.2 eq 51


access-list interface_test extended permit udp interface eth0 any eq 53
access-list interface_icmp extended permit icmp any any


access-group outside_access_in in interface outside
access-group inside_access_out global

access-list outside_access_in remark permit tcp 127.0.0.1 255.255.255.0 127.0.0.1 255.255.255.192 eq 4711 time-range time_range_test0 inactive
access-list outside_access_in extended permit tcp 127.0.0.1 255.255.255.0 127.0.0.1 255.255.255.192 eq 4711 time-range time_range_test0 inactive

access-list Neuberger-GLT-Fernwartung_splitTunnelAcl standard permit 172.16.200.0 255.255.255.0

access-list outside_access_in remark multi
access-list outside_access_in remark line
access-list outside_access_in remark remark without rule


{% block access_list_rule_webtype %}
access-list webvpn_out webtype permit url ssh://mac.gflyg.se log default
access-list webvpn_out webtype permit tcp host 127.0.0.1 range 80 81 log default
access-list webvpn_out webtype permit tcp any lt 81 log default
{% endblock access_list_rule_webtype%}


{% block access_list_rule_ethertype %}
access-list outside_ether_access_in ethertype permit bpdu
access-list inside_ether_access_in ethertype remark
access-list inside_ether_access_in ethertype permit bpdu
{% endblock %}

{% block access_list_log_level %}
access-list outside_ether_access_in extended deny ip any any log
access-list outside_ether_access_in extended deny ip any any log 5 default
access-list outside_ether_access_in extended deny ip any any log default 5
access-list outside_ether_access_in extended deny ip any any log debugging 5 interval 300
{% endblock %}

{% block access_list_rule_protocol %}
access-list outside_ether_access_in extended deny tcp any any
access-list outside_ether_access_in extended deny udp any any
{% endblock %}

{% block access_list_rule_protocol_int %}
access-list access_in extended deny 0 any any
access-list access_in extended deny 10 any any
access-list access_in extended deny 255 any any
{% endblock %}

{% block access_list_rule_expand %}
access-list ports extended permit tcp any object-group p0123 any object-group p4567
access-list ports extended permit tcp any object-group p32 any object-group p32
access-list ports extended permit object-group p89 any any
access-list ports extended permit object-group p01 any any
access-list ports extended permit object-group p23 any any
access-list ports extended permit object-group p01p23 any any

{% endblock %}

{% block nat %}

{% block network_object_dynamic_nat %}
{# The following example configures dynamic NAT that hides 192.168.2.0 network behind a range of outside addresses 10.2.2.1 through 10.2.2.10: #}
object network my-range-obj
 range 10.2.2.1 10.2.2.10

object network my-inside-net
 subnet 192.168.2.0 255.255.255.0
 nat (inside,outside) dynamic my-range-obj

{% endblock %}

{% block network_object_dynamic_nat_backup_pat %}
{# The following example configures dynamic NAT with dynamic PAT backup. #}
object network nat-range1
 range 10.10.10.10 10.10.10.20

object network pat-ip1
 host 10.10.10.21

object-group network nat-pat-grp
 network-object object nat-range1
 network-object object pat-ip1

object network my_net_obj5
 subnet 10.76.11.0 255.255.255.0
 nat (inside,outside) dynamic nat-pat-grp interface
{% endblock %}

{% block network_object_dynamic_nat_pat_v6_via_v4 %}
{# The following example configures dynamic NAT with dynamic PAT backup to translate IPv6 hosts to IPv4. #}
object network IPv4_NAT_RANGE
 range 209.165.201.1 209.165.201.30

object network IPv4_PAT
 host 209.165.201.31

object-group network IPv4_GROUP
 network-object object IPv4_NAT_RANGE
 network-object object IPv4_PAT

object network my_net_obj5
 subnet 2001:DB8::/96
 nat (inside,outside) dynamic IPv4_GROUP interface
{% endblock %}

{% block network_object_dynamic_pat %}
{# The following example configures dynamic PAT that hides the 192.168.2.0 network behind address 10.2.2.2: #}
object network my-inside-net
 subnet 192.168.2.0 255.255.255.0
 nat (inside,outside) dynamic 10.2.2.2
{% endblock %}

{% block network_object_dynamic_pat_interface %}
{# The following example configures dynamic PAT that hides the 192.168.2.0 network behind the outside interface address: #}
object network my-inside-net
 subnet 192.168.2.0 255.255.255.0
 nat (inside,outside) dynamic interface
{% endblock %}

{% block network_object_dynamic_nat_pat6 %}
{#  The following example configures dynamic PAT with a PAT pool to translate the inside IPv6 network to an outside IPv4 network: #}
object network IPv4_POOL
 range 203.0.113.1 203.0.113.254

object network IPv6_INSIDE
 subnet 2001:DB8::/96
 nat (inside,outside) dynamic pat-pool IPv4_POOL

{% endblock %}

{% block network_object_static_nat %}
{# The following example configures static NAT for the real host 10.1.1.1 on the inside to 10.2.2.2 on the outside with DNS rewrite enabled. #}
object network my-host-obj1
 host 10.1.1.1
 nat (inside,outside) static 10.2.2.2 dns
{% endblock %}


{% block network_object_static_nat_mapped %}
{# The following example configures static NAT for the real host 10.1.1.1 on the inside to 10.2.2.2 on the outside using a mapped object. #}
object network my-mapped-obj
 host 10.2.2.2

object network my-host-obj1
 host 10.1.1.1
 nat (inside,outside) static my-mapped-obj

{% endblock %}

{% block network_object_static_nat_pat %}
{# The following example configures static NAT-with-port-translation for 10.1.1.1 at TCP port 21 to the outside interface at port 2121. #}

object network my-ftp-server
 host 10.1.1.1
 nat (inside,outside) static interface service tcp 21 2121
{% endblock %}

{% block network_object_static_nat_v4viav6 %}
{# The following example maps an inside IPv4 network to an outside IPv6 network. #}
object network inside_v4_v6
 subnet 10.1.1.0 255.255.255.0
 nat (inside,outside) static 2001:DB8::/96
{% endblock %}

{% block network_object_static_nat6 %}
{# The following example maps an inside IPv6 network to an outside IPv6 network. #}
object network inside_v6
 subnet 2001:DB8:AAAA::/96
 nat (inside,outside) static 2001:DB8:BBBB::/96
{% endblock %}

{% block network_object_identity_nat_address %}
{# The following example maps a host address to itself using an inline mapped address: #}

object network my-host-obj1
 host 10.1.1.1
 nat (inside,outside) static 10.1.1.1

{% endblock %}

{% block network_object_identity_nat_object %}
{# The following example maps a host address to itself using a network object: #}

object network my-host-obj1-identity
 host 10.1.1.1

object network my-host-obj1
 host 10.1.1.1
 nat (inside,outside) static my-host-obj1-identity
{% endblock %}


{% block twice_dynamic_nat %}
{# The following example configures dynamic NAT for inside network 10.1.1.0/24 when accessing servers on the 209.165.201.1/27 network as well as servers on the 203.0.113.0/24 network: #}

object network INSIDE_NW
 subnet 10.1.1.0 255.255.255.0

object network MAPPED_1
 range 209.165.200.225 209.165.200.254

object network MAPPED_2
 range 209.165.202.129 209.165.202.158

object network SERVERS_1
 subnet 209.165.201.0 255.255.255.224

object network SERVERS_2
 subnet 203.0.113.0 255.255.255.0

nat (inside,outside) source dynamic INSIDE_NW MAPPED_1 destination static SERVERS_1 SERVERS_1

nat (inside,outside) source dynamic INSIDE_NW MAPPED_2 destination static SERVERS_2 SERVERS_2

{% endblock %}

{% block twice_dynamic_nat6via4 %}
{# The following example configures dynamic NAT for an IPv6 inside network 2001:DB8:AAAA::/96 when accessing servers on the IPv4 209.165.201.1/27 network as well as servers on the 203.0.113.0/24 network #}

object network INSIDE_NW
 subnet 2001:DB8:AAAA::/96

object network MAPPED_1
 range 209.165.200.225 209.165.200.254

object network MAPPED_2
 range 209.165.202.129 209.165.202.158

object network SERVERS_1
 subnet 209.165.201.0 255.255.255.224

object network SERVERS_2
 subnet 203.0.113.0 255.255.255.0

nat (inside,outside) source dynamic INSIDE_NW MAPPED_1 destination static SERVERS_1 SERVERS_1
nat (inside,outside) source dynamic INSIDE_NW MAPPED_2 destination static SERVERS_2 SERVERS_2

{% endblock %}

{% block twice_dynamic_pat %}

{#
The following example configures interface PAT for inside network 192.168.1.0/24 when accessing outside Telnet server 209.165.201.23, and Dynamic PAT using a PAT pool when accessing any server on the 203.0.113.0/24 network. #}

object network INSIDE_NW
 subnet 192.168.1.0 255.255.255.0

object network PAT_POOL
 range 209.165.200.225 209.165.200.254

object network TELNET_SVR
 host 209.165.201.23

object service TELNET
 service tcp destination eq 23

object network SERVERS
 subnet 203.0.113.0 255.255.255.0

nat (inside,outside) source dynamic INSIDE_NW interface destination static TELNET_SVR TELNET_SVR service TELNET TELNET
{% for fallback in ['','interface ','interface ipv6 '] %}
nat (inside,outside) source dynamic INSIDE_NW pat-pool PAT_POOL {{ fallback }}destination static SERVERS SERVERS
{% endfor %}
{% endblock %}

{% block twice_dynamic_pat6via4 %}
{# The following example configures interface PAT for inside network 192.168.1.0/24 when accessing outside IPv6 Telnet server 2001:DB8::23, and Dynamic PAT using a PAT pool when accessing any server on the 2001:DB8:AAAA::/96 network. #}
object network INSIDE_NW
 subnet 192.168.1.0 255.255.255.0

object network PAT_POOL
 range 2001:DB8:AAAA::1 2001:DB8:AAAA::200

object network TELNET_SVR
 host 2001:DB8::23

object service TELNET
 service tcp destination eq 23

object network SERVERS
 subnet 2001:DB8:AAAA::/96

nat (inside,outside) source dynamic INSIDE_NW interface ipv6 destination static TELNET_SVR TELNET_SVR service TELNET TELNET
{% for fallback in ['','interface','interface ipv6'] %}
nat (inside,outside) source dynamic INSIDE_NW pat-pool PAT_POOL {{ fallback }} destination static SERVERS SERVERS
{% endfor %}

{% endblock %}


{% block twice_static_nat %}
{# The following example shows the use of static interface NAT with port translation. #}

object service FTP_PASV_PORT_RANGE
 service tcp source range 65000 65004

object network HOST_FTP_SERVER
 host 192.168.10.100

nat (inside,outside) source static HOST_FTP_SERVER interface service FTP_PASV_PORT_RANGE FTP_PASV_PORT_RANGE
{% endblock %}


{% block twice_static_nat_pat %}
{# The following example shows a static translation of one IPv6 network to another IPv6 when accessing an IPv6 network, and the dynamic PAT translation to an IPv4 PAT pool when accessing the IPv4 network: #}

object network INSIDE_NW
 subnet 2001:DB8:AAAA::/96

object network MAPPED_IPv6_NW
 subnet 2001:DB8:BBBB::/96

object network OUTSIDE_IPv6_NW
 subnet 2001:DB8:CCCC::/96

object network OUTSIDE_IPv4_NW
 subnet 10.1.1.0 255.255.255.0

object network MAPPED_IPv4_POOL
 range 10.1.2.1 10.1.2.254

nat (inside,outside) source static INSIDE_NW MAPPED_IPv6_NW destination static OUTSIDE_IPv6_NW OUTSIDE_IPv6_NW

{% for fallback in ['','interface','interface ipv6'] %}
nat (inside,outside) source dynamic INSIDE_NW pat-pool MAPPED_IPv4_POOL {{ fallback }} destination static OUTSIDE_IPv4_NW OUTSIDE_IPv4_NW
{% endfor %}

{% endblock %}

{% block twice_dynamic_pat_dest_host %}
object network myInsideNetwork
 subnet 10.1.2.0 255.255.255.0

object network DMZnetwork1
 subnet 209.165.201.0 255.255.255.224

object network PATaddress1
 host 209.165.202.129

{% for fallback in ['','interface','interface ipv6'] %}
nat (inside,dmz) source dynamic myInsideNetwork PATaddress1 {{ fallback }} destination static DMZnetwork1 DMZnetwork1
{% endfor %}

object network DMZnetwork2
 subnet 209.165.200.224 255.255.255.224

object network PATaddress2
 host 209.165.202.130

{% for fallback in ['','interface','interface ipv6'] %}
nat (inside,dmz) source dynamic myInsideNetwork PATaddress2 {{ fallback }} destination static DMZnetwork2 DMZnetwork2
{% endfor %}
{% endblock %}


{% block twice_dynamic_pat_dest_host_port %}
object network myInsideNetwork
 subnet 10.1.2.0 255.255.255.0

object network TelnetWebServer
 host 209.165.201.11

object network PATaddress1
 host 209.165.202.129

object service TelnetObj
 service tcp destination eq telnet


{% for fallback in ['','interface','interface ipv6'] %}
nat (inside,outside) source dynamic myInsideNetwork PATaddress1 {{ fallback }} destination static TelnetWebServer TelnetWebServer service TelnetObj TelnetObj
{% endfor %}

object network PATaddress2
 host 209.165.202.130

object service HTTPObj
 service tcp destination eq http

{% for fallback in ['','interface','interface ipv6'] %}
nat (inside,outside) source dynamic myInsideNetwork PATaddress2 {{ fallback }} destination static TelnetWebServer TelnetWebServer service HTTPObj HTTPObj
{% endfor %}
{% endblock %}


{% block nat_and_interfaces %}
{#  https://community.cisco.com/t5/firewalls/nat-inside-outside-real-mapped-mapped-real/td-p/2314050  #}

object network LAN
 subnet 10.10.10.0 255.255.255.0

object network NAT-POOL
 range 1.1.1.1 1.1.1.2

object network REMOTE-NETWORK
 subnet 3.3.3.0 255.255.255.0

{% for fallback in ['','interface','interface ipv6'] %}
nat (inside,outside) after-auto source dynamic LAN NAT-POOL {{ fallback }} destination static REMOTE-NETWORK REMOTE-NETWORK
{% endfor %}
{% endblock %}

{% endblock nat %}
{% endblock all %}
