{% block all %}
: ignored lines

ASA Version 9.1(5)12 <context>

hostname test-config
domain-name example.org

{%  block names %}
names
name 127.1.0.1 localhorst
name 127.1.0.2 localbernd description localbernd
name 192.168.5.1 betternet
name fe80::2aa:bbcc:ddee:ff04 v6name
!
{%  endblock %}

{% block interfaces %}
interface Ethernet0
 description this interface is like eth0
 nameif outside
 security-level 0
 ip address 10.1.1.1 255.255.255.240 standby 10.1.1.2
!

{% block interface_with_trailing_ws %}
interface IfWithTrailingWS
 ip address 1.1.1.1 255.255.255.128 standby 2.2.2.2 {{ '' }}
!
{% endblock %}

{% endblock %}

{% block time_ranges %}
time-range time_range_test0
 absolute start 23:59 15 April 2010
!

time-range time_range_test1
 absolute start 23:59 15 April 2010 end 23:59 16 April 2010
!


time-range time_range_test2
 periodic daily 12:00 to 13:00
 periodic Monday 13:00 to Tuesday 14:00
 no periodic
 no absolute
!

time-range anytime
 absolute end 23:59 15 April 2010
!

time-range emptyrange
!
{% endblock %}


{% block object_service %}
object service TCPSourceService
 service tcp source range 1 100
 description low ports

object service TCPBothService
 service tcp source eq 100 destination eq 100

object service ICMPEchoService0
 service icmp echo

object service ICMPEchoService1
 service icmp 8 21

object service ICMPEchoService2
 service icmp echo-reply

object service ICMPEchoService3
 service icmp

object service ServiceByInt
 service 6

object service ICMPObjectWithTypeAndCode
 service icmp echo 0

!object-group service ServiceProtocolByCode
! service 41

!object-group service ServiceProtocolByName
! service eigrp
{% endblock %}


{% block object_group_icmp_type %}
object-group icmp-type ICMPGroup
 description icmp group
 icmp-object unreachable
 icmp-object 30

object-group icmp-type NestMe0-IG
 icmp-object unreachable

object-group icmp-type NestMe1-IG
 icmp-object 20

object-group icmp-type Nested0-IG
 group-object NestMe0-IG
 group-object NestMe1-IG
{% endblock %}


{% block object_group_service %}
object-group service ServiceGroupWithProtocol tcp
 description www & https
 port-object eq www
 port-object eq https


object-group service NestMe0-SG udp
 port-object eq domain

object-group service NestMe1-SG udp
 port-object eq bootps
 port-object range 1024 2048


object-group service Nested0-SG udp
 group-object NestMe0-SG
 group-object NestMe1-SG


object-group service Nested1-SG udp
 group-object Nested0-SG

object-group service ServiceGroupForNesting
 service-object udp destination eq 53

object-group service ServiceGroupWithOutProtocol
 description PR 9.3 service group
 service-object tcp destination eq www
 service-object object TCPSourceService
 service-object object TCPBothService
 service-object object ICMPEchoService0
 service-object object ICMPEchoService1
 service-object object ICMPEchoService2
 service-object object ICMPEchoService3
 service-object icmp echo 12
 group-object ServiceGroupForNesting

object-group service ServiceGroupWithWhitespace
 service-object tcp destination eq 9876
 service-object udp destination eq 9876

object-group service ICMPServiceGroupWithOutCode
 service-object icmp echo
 service-object icmp 8

object-group service ICMPServiceGroupWithCode
 service-object icmp echo 12
 service-object icmp 8 12

object-group service ICMP_Any
 description ICMP Any Type Any Code
 service-object icmp alternate-address
 service-object icmp conversion-error
 service-object icmp echo
 service-object icmp echo-reply
 service-object icmp information-reply
 service-object icmp information-request
 service-object icmp mask-reply
 service-object icmp mask-request
 service-object icmp mobile-redirect
 service-object icmp parameter-problem
 service-object icmp redirect
 service-object icmp router-advertisement
 service-object icmp router-solicitation
 service-object icmp source-quench
 service-object icmp time-exceeded
 service-object icmp timestamp-reply
 service-object icmp timestamp-request
 service-object icmp traceroute
 service-object icmp unreachable
 service-object icmp6 echo
 service-object icmp6 echo-reply
 service-object icmp6 membership-query
 service-object icmp6 membership-reduction
 service-object icmp6 membership-report
 service-object icmp6 neighbor-advertisement
 service-object icmp6 neighbor-redirect
 service-object icmp6 neighbor-solicitation
 service-object icmp6 packet-too-big
 service-object icmp6 parameter-problem
 service-object icmp6 router-advertisement
 service-object icmp6 router-renumbering
 service-object icmp6 router-solicitation
 service-object icmp6 time-exceeded
 service-object icmp6 unreachable
 service-object icmp

object-group service ObjectGroupWithIPServiceByName
 service-object ip
 service-object icmp
 service-object tcp destination eq www
 service-object tcp destination eq https
 service-object tcp destination eq ssh
{% endblock %}

{% block object_network %}
object network NetworkObjectRange
 range 10.0.0.1 10.0.0.4
 description Network Range Object

object network Network6RangeObject
 range ::1 ::2

object network NetworkObjectFQDN
 fqdn example.com

object network NetworkObjectFQDNv4
 fqdn v4 example.com

object network NetworkObjectFQDNv6
 fqdn v6 example.com

object network NetworkObjectHost
 host 127.4.0.1

object network NetworkObjectSubnet
 subnet 127.0.1.0 255.255.255.0

object network Network6SubnetObject
 subnet ::/127

:object network NetworkObjectName
:  host localbernd

object network NetworkObjectEmpty


object network v6NetworkObject
 host fe80::2aa:bbcc:ddee:ff03
{% endblock %}


{% block object_group_network %}
object-group network NetworkGroupHost
 network-object host 127.0.0.1

object-group network NetworkGroupNet
 network-object 127.0.0.1 255.255.255.0

object-group network NetworkGroupAlias
 network-object localbernd 255.255.255.0

object-group network NetworkGroupWithRecursion
 group-object NetworkGroupHost
 group-object NetworkGroupNet

object-group network NestMe0-NG
 network-object host localbernd

object-group network NestMe1-NG
 network-object host localhorst

object-group network NestMe2-NG
 network-object host 127.1.0.0

object-group network Nested0-NG
 description nested
 group-object NestMe2-NG
 group-object NestMe0-NG
 group-object NestMe1-NG

object-group network NetworkObjectsGroup0
 network-object host 127.0.0.1

object-group network NetworkObjectsGroup
 network-object object NetworkObjectHost
 network-object object NetworkObjectSubnet
 network-object object NetworkObjectRange
 network-object object NetworkObjectFQDN
 network-object object NetworkObjectFQDNv4
 network-object object NetworkObjectFQDNv6
 group-object NetworkObjectsGroup0


object-group network v6NetworkGroup
 network-object host fe80::2aa:bbcc:ddee:ff04
 network-object object v6NetworkObject


object-group network NetworkGroupWithAllTypes
 description egal
 network-object host 127.1.0.0
 network-object object NetworkObjectFQDN
 network-object 127.0.0.0 255.255.255.0
 network-object localbernd 255.255.255.0
 network-object fe80::2aa:bbcc:ddee:ff03/124
 network-object v6name/124

{% endblock %}

{% block object_protocol %}
object-group protocol NestMe0-PG
 protocol-object tcp

object-group protocol NestMe1-PG
 protocol-object udp
 protocol-object icmp

object-group protocol Nested0-PG
 description nested protocol group
 group-object NestMe0-PG
 group-object NestMe1-PG
{% endblock %}



access-list v6 extended permit tcp fe80::2aa:bbcc:ddee:ff01/64 fe80::2aa:bbcc:ddee:ff02/64
access-list v6 extended permit udp object-group v6NetworkGroup object v6NetworkObject
access-list v6 extended permit icmp any6 any6 echo

access-list outside_access_in extended permit udp 10.0.0.1 255.255.255.248 any4 range 32000 39999

access-list outside_access_in extended permit udp 10.0.0.1 255.255.255.248 any4 range 32000 39999

access-list outside_access_in remark permit tcp host 127.0.0.1 host 127.0.0.2
access-list outside_access_in extended permit tcp host 127.0.0.1 host 127.0.0.2

access-list outside_access_in remark permit tcp 127.0.0.1 255.255.255.0 127.0.0.2 255.255.255.0
access-list outside_access_in extended permit tcp 127.0.0.1 255.255.255.0 127.0.0.2 255.255.255.0

access-list outside_access_in remark permit tcp 127.0.0.1 255.255.255.0 eq 80 127.0.0.2 255.255.255.0
access-list outside_access_in extended permit tcp 127.0.0.1 255.255.255.0 eq 80 127.0.0.2 255.255.255.0

access-list outside_access_in remark permit tcp 127.0.0.1 255.255.255.0 eq 80 127.0.0.2 255.255.255.0 eq 81
access-list outside_access_in extended permit tcp 127.0.0.1 255.255.255.0 eq 80 127.0.0.2 255.255.255.0 eq 81

access-list outside_access_in remark permit tcp object-group NetworkGroupHost 127.0.0.1 255.255.255.0
access-list outside_access_in extended permit tcp object-group NetworkGroupHost 127.0.0.1 255.255.255.0

access-list outside_access_in remark permit tcp object-group NetworkGroupHost object-group NetworkGroupHost
access-list outside_access_in extended permit tcp object-group NetworkGroupHost object-group NetworkGroupHost

access-list outside_access_in remark permit tcp object-group NetworkGroupHost object-group Nested1-SG object-group NetworkGroupHost
access-list outside_access_in extended permit tcp object-group NetworkGroupHost object-group Nested1-SG object-group NetworkGroupHost

access-list outside_access_in remark permit tcp object-group NetworkGroupHost object-group NetworkGroupHost object-group Nested1-SG
access-list outside_access_in extended permit tcp object-group NetworkGroupHost object-group NetworkGroupHost object-group Nested1-SG


access-list outside_access_in remark permit tcp object-group NetworkGroupHost eq 80 object-group NetworkGroupWithRecursion
access-list outside_access_in extended permit tcp object-group NetworkGroupHost eq 80 object-group NetworkGroupWithRecursion

access-list outside_access_in remark permit tcp object-group NetworkGroupHost object-group NetworkGroupWithRecursion eq 80
access-list outside_access_in extended permit tcp object-group NetworkGroupHost object-group NetworkGroupWithRecursion eq 80

access-list outside_access_in remark permit tcp object-group NetworkGroupHost eq 80 object-group NetworkGroupWithRecursion eq 81
access-list outside_access_in extended permit tcp object-group NetworkGroupHost eq 80 object-group NetworkGroupWithRecursion eq 81

access-list outside_access_in remark permit icmp host 127.0.0.1 host 127.0.0.1 object-group ICMPGroup
access-list outside_access_in extended permit icmp host 127.0.0.1 host 127.0.0.1 object-group ICMPGroup


access-list outside_access_in remark permit tcp host 127.0.0.1 range 80 90 host 127.0.0.1
access-list outside_access_in extended permit tcp host 127.0.0.1 range 80 90 host 127.0.0.1

access-list outside_access_in remark permit object-group ServiceGroupWithOutProtocol any4 any
access-list outside_access_in extended permit object-group ServiceGroupWithOutProtocol any4 any

access-list outside_access_in remark permit tcp any4 any4 log default
access-list outside_access_in extended permit tcp any4 any4 log default

access-list outside_access_in remark permit tcp any4 any4 log time-range anytime
access-list outside_access_in extended permit tcp any4 any4 log time-range anytime

access-list outside_access_in remark permit tcp any4 any4 inactive
access-list outside_access_in extended permit tcp any4 any4 inactive

access-list outside_access_in remark permit icmp any4 any4 echo
access-list outside_access_in extended permit icmp any4 any4 echo

access-list outside_access_in extended permit icmp host 192.168.0.0 host 192.168.0.0 echo

access-list inside_access_out remark deny ip any4 any
access-list inside_access_out extended deny ip any4 any

access-list inside_access_out remark deny tcp any4 any
access-list inside_access_out extended deny tcp any4 any

access-list inside_access_out remark permit tcp localhorst 255.255.255.255 any
access-list inside_access_out extended permit tcp localhorst 255.255.255.255 any

access-list inside_access_out remark permit tcp host localbernd any
access-list inside_access_out extended permit tcp host localbernd any

access-list inside_access_out extended permit object-group Nested0-PG host localbernd any

access-list inside_access_out extended permit tcp host localbernd any4 eq https
access-list inside_access_out extended permit tcp host localbernd any4 range ftp https

access-list outside_access_in remark multi
access-list outside_access_in remark line
access-list outside_access_in remark remark
access-list outside_access_in extended permit tcp any4 any


access-list outside_access_in extended permit object-group ServiceGroupWithOutProtocol any4 any

access-list outside_access_in extended permit object ICMPEchoService0 any4 any
access-list outside_access_in extended permit tcp object-group NetworkObjectsGroup any

access-list outside_access_in extended permit udp any4 any4 eq 53
access-list outside_access_in extended permit tcp object NetworkObjectHost any

access-list outside_access_in extended permit object-group Nested0-PG host 127.0.0.2 host 127.0.0.2 time-range anytime
access-list outside_access_in extended permit icmp host 127.0.0.2 host 127.0.0.2 object-group ICMPGroup
access-list outside_access_in extended permit udp host 127.0.0.2 host 127.0.0.2 object-group Nested0-SG
access-list outside_access_in extended permit object-group ServiceGroupWithOutProtocol host 127.0.0.2 host 127.0.0.2
access-list outside_access_in extended permit udp host localbernd host 127.0.0.2 eq 51


access-list interface_test extended permit udp interface eth0 any eq 53
access-list interface_icmp extended permit icmp any any


access-group outside_access_in in interface outside
access-group inside_access_out global

access-list outside_access_in extended permit tcp 127.0.0.1 255.255.255.0 127.0.0.1 255.255.255.192 eq 4711 time-range time_range_test0 inactive

access-list Neuberger-GLT-Fernwartung_splitTunnelAcl standard permit 172.16.200.0 255.255.255.0

access-list outside_access_in remark multi
access-list outside_access_in remark line
access-list outside_access_in remark remark without rule


{% block access_list_rule_webtype %}
access-list webvpn_out webtype permit url ssh://mac.gflyg.se log default
access-list webvpn_out webtype permit tcp host 127.0.0.1 range 80 81 log default
access-list webvpn_out webtype permit tcp any lt 81 log default
{% endblock access_list_rule_webtype%}


{% block access_list_rule_ethertype %}
access-list outside_ether_access_in ethertype permit bpdu
access-list inside_ether_access_in ethertype remark
access-list inside_ether_access_in ethertype permit bpdu
{% endblock %}

{% block access_list_log_level %}
access-list outside_ether_access_in extended deny ip any any log
access-list outside_ether_access_in extended deny ip any any log 5 default
access-list outside_ether_access_in extended deny ip any any log default 5
access-list outside_ether_access_in extended deny ip any any log debugging 5 interval 300
{% endblock %}


{% endblock all %}