names
name 1.1.1.1 caf1
name 2.2.2.2 caf2
!

object network NetworkObjectHost1
 host 1.1.1.1

object network NetworkObjectHost2
 host 2.2.2.2

object-group network NetworkGroup1
 network-object host 1.1.1.1
 network-object 1.1.1.1 255.255.255.0

object-group network NetworkGroup2
 network-object host 2.2.2.2
 network-object 2.2.2.2 255.255.255.0

object-group network NetworkGroupNested1
 group-object NetworkGroup1

object-group network NetworkGroupNested2
 group-object NetworkGroup2

access-list caf_filter_0 extended permit ip host 1.1.1.1 host 2.2.2.2
access-list caf_filter_1 extended permit ip host caf1 host caf2
access-list caf_filter_2 extended permit ip caf1 255.255.255.0 caf2 255.255.255.0
access-list caf_filter_3 extended permit ip object NetworkObjectHost1 object NetworkObjectHost2
access-list caf_filter_4 extended permit ip object-group NetworkGroup1 object-group NetworkGroup2
access-list caf_filter_5 extended permit ip object-group NetworkGroupNested1 object-group NetworkGroupNested2

access-list caf_filter_61 extended permit ip host 1.1.1.1 host 2.2.2.2
access-list caf_filter_62 extended permit ip any any
access-list caf_filter_62 extended permit ip any4 any
access-list caf_filter_62 extended permit ip any6 any
